.carrer_description_text {
    color: #838694;
}

.carrer_information_span_two {
    color: #7A217F;
}

.career_div {
    background-color: white;
}

.career_description {
    color: #838694;
}

.career_div_two {
    border: 2px solid #272727;
    background-color: white;
}

.active,
.career_div_two:hover {
    background-color: #7A217F;
    border: 2px solid #7A217F;
}

.content {
    border: 2px solid #272727;
}

.career_description_two {
    color: #838694;
}